<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [2]:
%load_ext sql
%sql mysql://root:Admin123@moviester-db.ctqqsiedihg3.us-east-1.rds.amazonaws.com/FinalDB

In [11]:
import pandas as pd
import mysql.connector
import os
from dotenv import load_dotenv

load_dotenv()
# Connect to MySQL server
conn = mysql.connector.connect(
    host=os.getenv("host"),
    user=os.getenv("user"),
    password=os.getenv("password"),
    database=os.getenv("database"),
)
print(conn.is_connected())

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/mysql/connector/connection_cext.py", line 291, in _open_connection
    self._cmysql.connect(**cnx_kwargs)
_mysql_connector.MySQLInterfaceError: Access denied for user 'root'@'117.20.113.54' (using password: YES)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3398, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_21561/1818759358.py", line 8, in <cell line: 8>
    conn = mysql.connector.connect(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/mysql/connector/pooling.py", line 293, in connect
    return CMySQLConnection(*args, **kwargs)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/mysql/connector/connection_cext.py", line 120, in __init__
    self.connect(**kwargs)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/mysql/connector/abstracts.py", line 1181, in connect
    self._open_connection()
  File "/home/sokhorn/.local/lib/python3.8/site-packages/mysql/connector/connection_cext.py", line 296, in _open_connection
    raise get_mysql_exception(
mysql.connector.errors.ProgrammingError: 1045 (28000): Access denied for user 'root'@'117.20.113.54' (using password: YES)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 1993, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 799, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 854, in get_records
    return list(stack_data.FrameInfo.stack_data(etb, options=options))[tb_offset:]
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 597, in stack_data
    yield from collapse_repeated(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/utils.py", line 84, in collapse_repeated
    yield from map(mapper, original_group)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 587, in mapper
    return cls(f, options)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 551, in __init__
    self.executing = Source.executing(frame_or_tb)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 323, in executing
    source = cls.for_frame(frame)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 247, in for_frame
    return cls.for_filename(frame.f_code.co_filename, frame.f_globals or {}, use_cache)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 275, in for_filename
    return cls._for_filename_and_lines(filename, lines)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 285, in _for_filename_and_lines
    result = source_cache[(filename, lines)] = cls(filename, lines)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 97, in __init__
    self.asttokens()
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 387, in asttokens
    return ASTTokens(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/asttokens/asttokens.py", line 61, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [4]:
fdas

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3398, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_21561/1942689556.py", line 1, in <cell line: 1>
    fdas
NameError: name 'fdas' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 1993, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 799, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 854, in get_records
    return list(stack_data.FrameInfo.stack_data(etb, options=options))[tb_offset:]
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 597, in stack_data
    yield from collapse_repeated(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/utils.py", line 84, in collapse_repeated
    yield from map(mapper, original_group)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 587, in mapper
    return cls(f, options)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 551, in __init__
    self.executing = Source.executing(frame_or_tb)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 323, in executing
    source = cls.for_frame(frame)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 247, in for_frame
    return cls.for_filename(frame.f_code.co_filename, frame.f_globals or {}, use_cache)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 275, in for_filename
    return cls._for_filename_and_lines(filename, lines)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 285, in _for_filename_and_lines
    result = source_cache[(filename, lines)] = cls(filename, lines)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 97, in __init__
    self.asttokens()
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 387, in asttokens
    return ASTTokens(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/asttokens/asttokens.py", line 61, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [5]:
import mysql.connector as msql
from pandas.io import sql
from mysql.connector import Error
try:
    con = msql.connect(host='', user='root',  
                        password='Admin123', database='FinalDB')#give ur username, password
    if con.is_connected():
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [6]:
import pandas  as pd
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv')
table_name = 'CENSUS_DATA'
df.to_sql(table_name, conn, if_exists='replace', index=False)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3398, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_21561/61134825.py", line 4, in <cell line: 4>
    df.to_sql(table_name, conn, if_exists='replace', index=False)
NameError: name 'conn' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 1993, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 799, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 854, in get_records
    return list(stack_data.FrameInfo.stack_data(etb, options=options))[tb_offset:]
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 597, in stack_data
    yield from collapse_repeated(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/utils.py", line 84, in collapse_repeated
    yield from map(mapper, original_group)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 587, in mapper
    return cls(f, options)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 551, in __init__
    self.executing = Source.executing(frame_or_tb)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 323, in executing
    source = cls.for_frame(frame)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 247, in for_frame
    return cls.for_filename(frame.f_code.co_filename, frame.f_globals or {}, use_cache)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 275, in for_filename
    return cls._for_filename_and_lines(filename, lines)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 285, in _for_filename_and_lines
    result = source_cache[(filename, lines)] = cls(filename, lines)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 97, in __init__
    self.asttokens()
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 387, in asttokens
    return ASTTokens(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/asttokens/asttokens.py", line 61, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [7]:
df

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
...,...,...,...,...,...,...,...,...,...
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

In [8]:
import pandas  as pd
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv')
df.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False, method='multi')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3398, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_21561/749733959.py", line 3, in <cell line: 3>
    df.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False, method='multi')
NameError: name 'con' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 1993, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 799, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 854, in get_records
    return list(stack_data.FrameInfo.stack_data(etb, options=options))[tb_offset:]
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 597, in stack_data
    yield from collapse_repeated(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/utils.py", line 84, in collapse_repeated
    yield from map(mapper, original_group)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 587, in mapper
    return cls(f, options)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 551, in __init__
    self.executing = Source.executing(frame_or_tb)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 323, in executing
    source = cls.for_frame(frame)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 247, in for_frame
    return cls.for_filename(frame.f_code.co_filename, frame.f_globals or {}, use_cache)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 275, in for_filename
    return cls._for_filename_and_lines(filename, lines)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 285, in _for_filename_and_lines
    result = source_cache[(filename, lines)] = cls(filename, lines)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 97, in __init__
    self.asttokens()
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 387, in asttokens
    return ASTTokens(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/asttokens/asttokens.py", line 61, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [9]:
import pandas  as pd
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv')
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method='multi')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3398, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_21561/2699673635.py", line 3, in <cell line: 3>
    df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method='multi')
NameError: name 'con' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 1993, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 799, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 854, in get_records
    return list(stack_data.FrameInfo.stack_data(etb, options=options))[tb_offset:]
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 597, in stack_data
    yield from collapse_repeated(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/utils.py", line 84, in collapse_repeated
    yield from map(mapper, original_group)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 587, in mapper
    return cls(f, options)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 551, in __init__
    self.executing = Source.executing(frame_or_tb)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 323, in executing
    source = cls.for_frame(frame)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 247, in for_frame
    return cls.for_filename(frame.f_code.co_filename, frame.f_globals or {}, use_cache)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 275, in for_filename
    return cls._for_filename_and_lines(filename, lines)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 285, in _for_filename_and_lines
    result = source_cache[(filename, lines)] = cls(filename, lines)
  File "/home/sokhorn/.local/lib/python3.8/site-packages/stack_data/core.py", line 97, in __init__
    self.asttokens()
  File "/home/sokhorn/.local/lib/python3.8/site-packages/executing/executing.py", line 387, in asttokens
    return ASTTokens(
  File "/home/sokhorn/.local/lib/python3.8/site-packages/asttokens/asttokens.py", line 61, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

### Problem 2

##### List community areas with per capita income less than 11000.

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

### Problem 4

##### List all kidnapping crimes involving a child?

### Problem 5

##### What kinds of crimes were recorded at schools?

### Problem 6

##### List the average safety score for each type of school.

### Problem 7

##### List 5 community areas with highest % of households below poverty line

### Problem 8

##### Which community area is most crime prone?

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>